/** @format */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend+Mega:wght@100;200&family=M+PLUS+Rounded+1c:wght@100;300;400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  --classic: "Varela Round", "sans-serif";
}

body {
  font-family: var(--classic);
  line-height: 1.6;
  height: fit-content;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.budget {
  width: 100vw;
  color: whitesmoke;
  text-align: center;
  background-image: url("images/front-view-plant-growing-from-golden-coins.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 48vh;
  background-position: center;
  box-sizing: border-box;
  background-position-y: top;
  margin: 0;
  padding: 0;
}

.add_container {
  display: flex;
  flex-direction: row;
  height: 3.4375rem;
  justify-content: center;
  background-color: whitesmoke;
  gap: 1.31rem;
}

.container {
  color: whitesmoke;
  width: 65%;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 3%;
}

.income .item__delete--btn {
  color: rgba(1, 78, 4, 0.8);
}
.expenses .item__delete--btn {
  color: rgba(172, 12, 12, 0.8);
  padding-left: .1rem
}

.income__list .item {
  color: #3d3838;
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
  justify-content: space-between;
  gap: 11.875rem;
  font-size: 1rem;
  font-weight: 600;

  cursor: pointer;

  padding: 0.3125rem 0;
}

.income .item__value .item {
  color: rgb(16, 90, 18);
}

.income__list .item__delete--btn {
  visibility: hidden;
  border: none;
  background: transparent;
  transition: 20ms ease-in;
}

.income__list #income-1:hover .item__delete--btn {
  visibility: visible;
}
.income__list :hover .item__delete--btn {
  visibility: visible;
}

.expenses__list .item {
  color: #3d3838;
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
  justify-content: space-between;
  gap: 3.125rem;
  font-size: 1rem;
  font-weight: 600;

  cursor: pointer;
  padding: 0.3125rem 0;
}

.income__list .income .item__delete--btn {
  color: rgba(1, 78, 4, 0.8);
}

.expenses__list .item__percentage:hover {
  transform: scale(1.1);
}
.expenses__list .item__delete--btn {
  visibility: hidden;
  border: none;
  background: transparent;
  transition: 20ms ease-in;
}

.expenses__list #income-1:hover .item__delete--btn {
  visibility: visible;
}
.expenses__list :hover .item__delete--btn {
  visibility: visible;
}

.income{
  width: 40%
}

.expenses{
  width: 40%
}

div .item:nth-child(even){
  background-color: rgba(180, 176, 176, 0.3);

}

div .item:nth-child(odd){
  border-top: 0.1225rem solid rgba(180, 176, 176, 0.3);

}

div .item:last-child{
  border-bottom: 0.1225rem solid rgba(180, 176, 176, 0.3);

}